<li id='' class="menu_item_li hide">
    <div class="menu-head"><span class="title"></span>&nbsp;&nbsp;(<span class="remark"></span>)<a class="deploy" href="javascript:void(0);">▽</a><a class="fold" href="javascript:void(0);">△</a></div>
    <div class="menu-setting">
        <p class="text_url">
            <label>
                链接网址
                <br />
                <input type="text" name="nav_url" value="" />
            </label>
        </p>
        
        <p class="text_name">
            <label>
                导航命名
                <br />
                <input type="text" name="nav_name" value="" />
            </label>
        </p>
        <p>
            <label>
                <input type="checkbox"  value="1" name="target" >
                <span>在新窗口或分页开启链接</span>
            </label>
        </p>
        <p class="a_url">
            原始：<a href="" class="nav_url"  target="_blank"></a>
        </p>
        <p>
            <a class="del" href="javascript:void(0);">移除</a>
        </p>
        <input type="hidden" name="nav_type" >
        <input type="hidden" name="concern_id" > 
        <input type="hidden" name="remark" > 
    </div>
</li>