<li id='' class="textarea_item_li hide">
    <div class="menu-head"><span class="title"></span><a class="deploy" href="javascript:void(0);">▽</a><a class="fold" href="javascript:void(0);">△</a></div>
    <div class="menu-setting">
        <p>
            <label>
                输入框名
                <br />
                <input type="text" name="input_name" value="" />
            </label>
        </p>
        
        <p>
            <label>
                输入规则
                <br />
                <select name="input_rule">
                    <option value='0'>否</option>
                    <option value='1'>必填</option>
                </select>
            </label>
        </p>
        
        <p>
            <a class="del" href="javascript:void(0);">移除</a>
        </p>
        <input type="hidden" name="input_type" >
    </div>
</li>