<footer>
<div style="width: 100%; height: auto;background: #F8F8F8;">
	<div class="container block_container" >
		<div class="block" style="padding-top: 5%;"></div>
		<div class="block">
			<div class="row"  style="margin: 0px;">
				<div class="col-lg-3" style="padding: 0; height: auto;">
					<div class="element-text">
						<div class="element-text-content">
							<div class="html-content">
								<p style="line-height: 1; text-align: left; margin-bottom: 8px;"><span style="font-family: SimHei; font-size: 24px; color: #333333 ;">联系我们</span></p>
								<p style="height: 5px; text-align: left; width: 100%;text-align: left;margin-bottom: 6px; "><span style="display: block;background: #999999 ; width: 20px; height: 5px;  "></span></p>
								<p style="line-height: 1; text-align: left;"><span style="font-family: Arial, Helvetica, sans-serif; font-size: 14px; color:rgb(153, 153, 153) ;">CONTACT</span></p>
							</div>
						</div>
					</div>
				</div>


                <div class="col-lg-3" style="padding: 0; height: auto;">
                  <div class="element-text">
                    <p style="font-family: MicrosoftYaHei;font-size: 18px;color: #333333;">
                      <span>关注</span>
                    </p>
                    <p></p>
                    <p style="position: relative">
                      <a href="http://www.weibo.com/" target="_blank"><img src="__IMG__/weibo.png" style="width: 24px; height: 24px; margin-right: 15px; margin-top: 20px; cursor: pointer"></a>
                      <img src="__IMG__/weixin.png" id="weixinbtn"  style="width: 24px; height: 24px; margin-right: 15px; margin-top: 20px; cursor: pointer">

                      <a href="http://wpa.qq.com/msgrd?v=3&uin=&Site=qq&Menu=yes">
                      <img src="__IMG__/qq.png"  style="width:24px;  height: 24px;margin-right: 15px; margin-top: 20px; cursor: pointer">
		       </a>
                    </p>
                  </div>
                </div>

				<div class="col-lg-3" style="padding: 0; height: auto;">
					<div class="element-text">
						<p style="font-family: MicrosoftYaHei;font-size: 14px;color: #333333;">手机：{$contact['contact_phone']}</p>
						<p style="font-family: MicrosoftYaHei;font-size: 14px;color: #333333;">邮箱：{$contact['contact_email']}</p>
						<p style="font-family: MicrosoftYaHei;font-size: 14px;color: #333333;">地址：{$contact['contact_adr']}</p>
						<p style="font-family: MicrosoftYaHei;font-size: 14px;color: #333333;  margin-bottom: 0; ">客服电话：{$contact['contact_service_phone']}</p>
					</div>
				</div>

				<div class="col-lg-3" style="padding: 0; height: auto;display:none;">
					<div class="element-text">
						<div class="block">
							<div class="element-ewm-img">
								<img src="{$contact['path']}">
								<p>微信关注创业壹号</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="block" style="padding-top: 2.5%; ">
		<div class=" container block_container"  style="border-bottom:1px solid #EEEEEE; "></div>
	</div>
	<div class="block" >
		<div class="block" style="padding-top:1.6666666666666667%;"></div>
		<div class="block" id="copyright">
			<p style="font-family: MicrosoftYaHei;font-size: 14px;color: #999999;text-align: center; margin: 0; ">
				<span >Copyright © 2011-2020. All Rights Reserved</span>
				<span>邦部科技版权所有 粤ICP备13081459号-2</span>
			</p>
		</div>
		<div class="block" style="padding-top:1.6666666666666667%;"></div>
	</div>

	<div class="layer_notice" style="width: 260px; height: 260px;display: none;" >
      <img width=240 style="margin:10px;" src="{$contact['path']}"/>
    </div>

	<script src="__STATIC__/public_js/popper.min.js"></script>
	<script src="__STATIC__/public_js/bootstrap.min.js"></script>
	<!-- Just to make our placeholder images work. Don't actually copy the next line! -->
	<script src="__STATIC__/public_js/holder.min.js"></script>
	<script src="__STATIC__/public_js/wow.min.js"></script>
	<script>
        if (!(/msie [6|7|8|9]/i.test(navigator.userAgent))) {
            new WOW().init();
        }
        ;
	</script>
	<script src="__STATIC__/public_js/qrcode.min.js"></script>
	<script src="__STATIC__/public_js/common.js"></script>
	<script src="__STATIC__/public_js/layer/layer.js"></script>


</div>
</footer>
