<extend name="Base/common"/>
<block name="style">

</block>
<block name="body">

    <main role="main" id="main">
      <!--导航-->
      <div class="slide_content">
        <div class="slide_image">
          <div class="swiper-container slide_container" style="height: auto">
            <div class="swiper-wrapper">
              <div class="swiper-slide swiper-no-swiping">
                <div class="slide_back mobile" style="background-image: url({$banner_url})"></div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!--公司简介-->
      <div class="container block_container" style="background: #ffffff" >
        <div class="block" style="padding-top: 10%;"></div>
        <div class="block">
          <div class="row text-row" style="text-align: justify;font-family: MicrosoftYaHei;font-size: 14px;color: #999999;letter-spacing: 0;line-height: 30px;">
            <div  style="width: 100%; padding: 0">
              <div class="block element-apply">
                <a href="./condition" style="text-decoration: none">
                  <div class="element-join-nav">
                    <img src="__IMG__/join1.png">
                    <p></p>
                    <p style="font-size: 28px;">入驻条件</p>
                  </div>
                </a>
                <a href="./progress"  style="text-decoration: none">
                  <div class="element-join-nav">
                    <img src="__IMG__/join2.png">
                    <p></p>
                    <p style="font-size: 28px;">入驻流程</p>
                  </div>
                </a>
                <a href="apply"  style="text-decoration: none">
                  <div class="element-join-nav">
                    <img src="__IMG__/join3.png">
                    <p></p>
                    <p style="font-size: 28px;">入驻申请</p>
                  </div>
                </a>
              </div>
            </div>
          </div>
        </div>
        <div class="block" style="padding-top:10%; "></div>

      </div>



    </main>
</block>

<block name="script">
  <style>
    body{
      background: #F8F8F8;
    }
  </style>
  <script src="__STATIC__/public_js/about.js"></script>
</block>