<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<include file="Public/head_new"/>
</head>
<body do-phone-nav="do-drop-full" do-phonenav-slip-direction="left-to-right" do-phonenav-btnalign="do-navBtn-right">
	<!-- 头部 -->
	<include file="Public/header_new"/>
	<!-- /头部 -->
	
	<!-- 主体 -->
	<include file="Public/body"/>
	<!-- /主体 -->

	<!-- 底部 -->
	<include file="Public/footer"/>
	<!-- /底部 -->
	<block name="script">
		
	</block>

</body>
</html>