<extend name="Base/common"/>
<block name="style">
<link rel="stylesheet" type="text/css" href="__STATIC__/swiper/swiper.css">
<link rel="stylesheet" type="text/css" href="__CSS__/timeline.css">
<style type="text/css">

	.swiper-gallery{
		width: 60%;
		margin: auto;
		background:#fff;

		position: absolute;
	    bottom: -90px;
	    z-index: 999;
	    left: 50%;
    	margin-left: -30%;
    	min-height: 100px;
	}
	.swiper-gallery .title{
		margin: 8px 0 0 25px;
	}
	.gallery-top {
        width: 100%;
        height: 70%;
    }

    .gallery-top .swiper-slide{
    	text-align: left;
    }
    .gallery-thumbs,.gallery-preview {
        box-sizing: border-box;
        width: 100%;
    }

    .gallery-thumbs{
    	height: 30%;
    }

    .gallery-preview{
    	width: 80%;
    	margin: auto;

    }

    .gallery-thumbs .swiper-slide,.gallery-preview .swiper-slide{
        width: 16%;
        opacity: 0.4;
        padding: 0;
        margin: 12px 0;
    }
    .gallery-preview .swiper-slide{
    	width: 24%;
    }
    .gallery-thumbs .active , .gallery-preview .active{
    	opacity: 1;
    }
    .gallery-thumbs .thubmail , .gallery-preview .thubmail{
    	width: 100%;
    	height: 100px;
    	background :#999  center no-repeat ;
    	background-size: cover;
    }
    .media-a .media-object{
    	display: block;
    	/*width: 420px;
    	height: 300px;*/
    	width:100%;
    	height: 100%;
    	background:center no-repeat;
    	background-size: cover;
    }
    .about .buleline{
    	margin:12px auto 12px 0;
    }
    .arrow-left,.arrow-right{
    	position: absolute;
	    left: 60px;
	    top: 50%;
	   /* margin-top: -7px;*/
	    width: 15px;
	    height: 15px;
	    z-index: 10;
	    background :center no-repeat  url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M0%2C22L22%2C0l2.1%2C2.1L4.2%2C22l19.9%2C19.9L22%2C44L0%2C22L0%2C22L0%2C22z'%20fill%3D'%23007aff'%2F%3E%3C%2Fsvg%3E");
	    
	    background-size: 15px;
	    cursor: pointer;

    }
    .arrow-right{
    	left: initial;
    	right: 60px;
    	background: center no-repeat url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M27%2C22L27%2C22L5%2C44l-2.1-2.1L22.8%2C22L2.9%2C2.1L5%2C0L27%2C22L27%2C22z'%20fill%3D'%23007aff'%2F%3E%3C%2Fsvg%3E");
    }

    @media (max-width: 760px){
    	.swiper-gallery{
	        width: 90%;
	        margin-left: -45%;
	    }
	    .media-a .media-object{
	        width: 100%;
	        height: 180px;
	        padding: 0;
	    }

    }
</style>

</block>
<block name="body">

<div id="dowebok">

<div class="banner section">
	<div class="swiper-container top_banner">
		<div class="swiper-wrapper">

			<foreach name="banners" item="vo" >
				<div class="swiper-slide img-lazyload" data-lazy-type="bg" data-src="{$vo['path']}" >
					<a class="slide_a" target="_blank" href="{$vo['banner_url']}"></a>
				</div>
			</foreach>

		</div>
		<div class="swiper-pagination"></div>
		<div class="swiper-button-next"></div>
        <div class="swiper-button-prev "></div>
    </div>
    <?php
		$l = cookie('l');
		$adv =  get_trans('adv'.'_'.$l);
	?>
    <div class="swiper-gallery" style="display:none;">
		<div class="title">{$adv}</div>
		<div class="arrow-left"></div>
        <div class="arrow-right"></div>
		<div class="swiper-container gallery-preview">

			<div class="swiper-wrapper">

				<foreach name="advs" item="vo"  key='k'>
					<if condition=" $k eq 0 ">
						<div class="swiper-slide active">
							<div class="thubmail  img-lazyload" data-lazy-type="bg" data-src="{$vo['path']}" >
							</div>
						</div>
					<else/>
						<div class="swiper-slide">
							<div class="thubmail  img-lazyload" data-lazy-type="bg" data-src="{$vo['path']}" >

							</div>
						</div>
					</if>
				</foreach>

			</div>
		</div>
	</div>
</div>

<div class="section">

<div class="adv " style="margin-top:12px;">

	<div class="swiper-contents">
		<div class="swiper-container advs">

			<div class="swiper-wrapper">

				<foreach name="advs" item="vo" >
					<div class="swiper-slide  img-lazyload"  data-lazy-type="bg" data-src="{$vo['path']}" >
						<a class="slide_a" target="_blank" href="{$vo['adv_url']}"></a>
					</div>
				</foreach>

			</div>
			<div class="swiper-button-next"></div>
        	<div class="swiper-button-prev "></div>
	    </div>
    </div>

</div>

<div class="showpace ">
	<div class="row">

	  	<foreach name="spaceshows" item="vo" >

	  		<div class="col-xs-6 col-md-3">
			    <div  class="thumbnail">
			    	<a class="slide_a   img-lazyload"   data-lazy-type="bg" data-src="{$vo['path']}" href="{:U('Content/index?m=spaceshow'.'&id='.$vo['id'])}"></a>
			    </div>
			</div>

		</foreach>

	</div>
</div>

</div>

<div class="section">

<div  class="cd-horizontal-timeline loaded ">
	<div class="timeline">
		<div class="events-wrapper">
			<div class="events" >
				<ol>
					<foreach name="history" item="vo" key="k" >
						<if condition=" $k eq 0 ">
							<li><a href="#0" data-date="{$vo['date_time']}" class="older-event selected">{$vo['history_time']}</a></li>
						<else/>
							<li><a href="#0" data-date="{$vo['date_time']}" class="older-event">{$vo['history_time']}</a></li>
						</if>
					</foreach>

				</ol>
				<span class="filling-line"></span>
			</div>
		</div>
		<ul class="cd-timeline-navigation">
			<li><a href="#0" class="prev">Prev</a></li>
			<li><a href="#0" class="next">Next</a></li>
		</ul>
	</div>
	<div class="events-content" >
		<ol>

			<foreach name="history" item="vo" key="k" >
				<if condition=" $k eq 0 ">
					<li class="selected" data-date="{$vo['date_time']}">
						<h2>{$vo['history_tile']}</h2>
						<em>{$vo['time']}</em>
						<p>
							{$vo['history_content']}
						</p>
					</li>
				<else/>
					<li data-date="{$vo['date_time']}">
						<h2>{$vo['history_tile']}</h2>
						<em>{$vo['time']}</em>
						<p>
							{$vo['history_content']}
						</p>
					</li>
				</if>
			</foreach>


		</ol>
	</div>
</div>

<div class="about " id="active">
	<div class="companyimggourp clearfix">
		<!-- <div class="line"></div> -->

		<div class="swiper-container gallery-top">
	        <div class="swiper-wrapper">

		        <foreach name="acts" item="vo">
		        	<div class="swiper-slide" >
						<div class="media">
						      <div class="media-left">
						        <a class="media-a" href="javascript:void(0);">
						          <div class="media-object img-lazyload" data-lazy-type="bg" data-src="{$vo['path']}"></div>
						        </a>
						      </div>
						      <div class="media-body">
						        <h2 class="media-heading">{$vo['act_title']}</h2>
						        <div class="buleline"></div>
						        {$vo['act_content']}
						      </div>
						</div>
					</div>
				</foreach>

	        </div>
	    </div>

	    <div class="swiper-container gallery-thumbs">
	        <div class="swiper-wrapper">
	        	<foreach name="acts" item="vo" key="k" >
	        		<if condition=" $k eq 0 ">
		        		<div class="swiper-slide active" >
			            	<div class="thubmail img-lazyload" data-lazy-type="bg" data-src="{$vo['path']}"></div>
			            </div>
	        		<else/>
		        		<div class="swiper-slide" >
			            	<div class="thubmail img-lazyload" data-lazy-type="bg" data-src="{$vo['path']}"></div>
			            </div>
	        		</if>
				</foreach>

	        </div>
	    </div>
		<div class="line"></div>
	</div>
</div>
</div>


<div class="section">
<div class="map img-lazyload" style=" height:65%; "   data-lazy-type="bg" data-src="{$contact['map_path']}" >
	<div class="i-c-l-mask"></div>
	<div class="row" id="row">
		<div class="col-sm-12">
			<div class="thumbnail">
			<?php
				$l = cookie('l');
				$_contact =  get_trans('contact'.'_'.$l);
			?>

				<div class="caption">
					<p>{$_contact}</p>

				</div>
			</div>
		</div>
		<div class="col-sm-6 col-md-4">
			<div class="thumbnail">
				<div class="ico  img-lazyload"  data-lazy-type="bg" data-src="{$contact['mobile_path']}" ></div>
				<div class="caption">
					<p>{$contact['contact_phone']}</p>

				</div>
			</div>
		</div>
		<div class="col-sm-6 col-md-4">
			<div class="thumbnail">
				<div class="ico  img-lazyload"  data-lazy-type="bg" data-src="{$contact['email_path']}" ></div>
				<div class="caption">
					<p>{$contact['contact_email']}</p>

				</div>
			</div>
		</div>
		<div class="col-sm-6 col-md-4">
			<div class="thumbnail">
				<div class="ico  img-lazyload"  data-lazy-type="bg" data-src="{$contact['adr_path']}" ></div>
				<div class="caption">
					<p>{$contact['contact_adr']}</p>

				</div>
			</div>
		</div>
	</div>
</div>
<div class="footer_warp" style="height:35%;">
	<div class="footer clearfix" style="height:85%;">
		<div class="fl footerl">
			<ul class="footerlmain" >
				<li>
				<?php
					$intro = get_trans('intro'.'_'.$l);
					$act = get_trans('act'.'_'.$l);
					$link = get_trans('link'.'_'.$l);
					$cus = get_trans('cus'.'_'.$l);
					$qrcode = get_trans('qrcode'.'_'.$l);
					$law = get_trans('law'.'_'.$l);
				?>
					<div class="footertitle"><a href="{$about}" style="font-weight: bold;">{$intro}</a></div>
				</li>

				<li>
					<div class="footertitle">{$link}</div>
					<foreach name="links" item="vo">
			        	<a class="_a" href="{$vo['links_url']}" target="_blank">{$vo['links_name']}</a>
					</foreach>
				</li>
				<li>
					<div class="footertitle">{$_contact}</div>
					<a class="_a" href="javascript:void(0);">{$contact['contact_phone']}</a>
					<a class="_a" href="javascript:void(0);">{$contact['contact_email']}</a>
					<a class="_a" href="javascript:void(0);">{$contact['contact_adr']}</a>
				</li>
				<li>
					<div class="footertitle">{$cus}</div>
					<a class="_a" href="javascript:void(0);">{$webcontent['webcontent_tel']}</a>
				</li>
			</ul>
		</div>
		<div class="fr footerr">
			<div class="fr clearfix">
				<div class="qrcode img-lazyload" data-lazy-type="bg" data-src="{$webcontent['rcode_path']}" ></div>
				<div class="qrcode_tip">{$qrcode}</div>
			</div>
		</div>
	</div>
	<div class="bottom clearfix">
		<div class="fl footertitle"><a href="{:U('Content/index')}">{$law}</a></div>
		<div class="fr footertitle"><a target="_blank" href="http://www.miitbeian.gov.cn/"> Copyright © 2011-2020. All Rights Reserved 邦部科技版权所有 粤ICP备13081459号-2 </a></div>
	</div>
</div>
</div>

</div>

</block>

<block name="script">
<if condition=" $is_fullpage neq false ">
<script type="text/javascript" src="__STATIC__/fullpage.js"></script>
</if>
<script type="text/javascript" src="__JS__/common.js"></script>
<script type="text/javascript" src="__STATIC__/swiper/swiper.js" ></script>

<script>
	<if condition=" $is_fullpage neq false ">
	$('#dowebok').fullpage({
        //scrollOverflow:true,
        
        afterLoad:function(){
        	img_lazyload();
        	/* $(".mydiv").css({ 
        position: "absolute", 
        left: ($(window).width() - $(".mydiv").outerWidth())/2, 
        top: ($(window).height() - $(".mydiv").outerHeight())/2 
    }); */    
        	 (function($){    $(document).ready(function(){      $("#row").center();});})(jQuery);
        },


    });
    </if>

     //img_lazyload();
	/*$(function(){
		img_lazyload();
	})*/
    var swiper = new Swiper('.top_banner', {

        paginationClickable: '.swiper-pagination',
        nextButton: '.swiper-button-next',
        prevButton: '.swiper-button-prev',
        //spaceBetween: 0,
        pagination: '.swiper-pagination',
        paginationClickable: true,
        autoplay: 2500,autoplayDisableOnInteraction: false

    });

    var galleryTop = new Swiper('.gallery-top', {
		spaceBetween: 0,
		onSlideChangeStart: function(){
			$(".gallery-thumbs .swiper-slide").removeClass('active');
		    $(".gallery-thumbs .swiper-slide").eq(galleryTop.activeIndex).addClass('active'); 
	    }
	});
	var galleryThumbs = new Swiper('.gallery-thumbs', {
		spaceBetween: 10,
		slidesPerView: 'auto',
		touchRatio: 0.2,
		slideToClickedSlide: true
	});
	$(function(){
		$(".gallery-thumbs .swiper-slide").on('click',function(e){
		    e.preventDefault()
		    $(".gallery-thumbs .swiper-slide").removeClass('active');
		    $(this).addClass('active');
		    galleryTop.slideTo( $(this).index() )
		})
		$(".gallery-thumbs .swiper-slide").click(function(e){
		    e.preventDefault()
		})

		$(".gallery-preview .swiper-slide").on('click',function(e){
		    e.preventDefault()
		    $(".gallery-preview .swiper-slide").removeClass('active');
		    $(this).addClass('active');
		    advs.slideTo( $(this).index() )
		})
		$(".gallery-preview .swiper-slide").click(function(e){
		    e.preventDefault()
		})
	})


	var galleryThumbs = new Swiper('.gallery-preview', {
		spaceBetween: 10,
		slidesPerView: 'auto',
		slideToClickedSlide: true

	});

	var advs = new Swiper('.advs', {
        //spaceBetween: 0,
        nextButton: '.swiper-button-next',
        prevButton: '.swiper-button-prev',
        onSlideChangeStart: function(){

        	galleryThumbs.slideTo(advs.activeIndex);

			$(".gallery-preview .swiper-slide").removeClass('active');
		    $(".gallery-preview .swiper-slide").eq(advs.activeIndex).addClass('active'); 
	    }
    });

    $('.arrow-left').on('click', function(e) {

		if (galleryThumbs.activeIndex == 0) {

			return;

		}else{

			var index = $('.gallery-preview .swiper-slide.active').index();

			$(".gallery-preview .swiper-slide").removeClass('active');
		    $(".gallery-preview .swiper-slide").eq(index-1).addClass('active');
		    advs.slideTo( index - 1 );
		    galleryThumbs.slideTo(index-1);

		}
	})

	$('.arrow-right').on('click', function(e) {

		var y = $('.gallery-preview .swiper-slide').length - 1;
		if ( advs.activeIndex  ==  y) {
			return;
		}else{

			var index = $('.gallery-preview .swiper-slide.active').index();

			$(".gallery-preview .swiper-slide").removeClass('active');
		    $(".gallery-preview .swiper-slide").eq(index-1).addClass('active');
		    advs.slideTo( index + 1 );
		    galleryThumbs.slideTo(index+1);

		}
	})



</script>
<script type="text/javascript" src="__STATIC__/timeline.js"></script>
</block>
