.do-m-menu-btn span {
  background-color: rgb(0, 0, 0)!important;
}


.animate {
  -webkit-transition: all 0.4s cubic-bezier(0.4, 0.01, 0.165, 0.99);
  -moz-transition: all 0.4s cubic-bezier(0.4, 0.01, 0.165, 0.99);
  -o-transition: all 0.4s cubic-bezier(0.4, 0.01, 0.165, 0.99);
  transition: all 0.4s cubic-bezier(0.4, 0.01, 0.165, 0.99);
}



input#do-m-menustate-checkbox:checked+.do-m-menu-btn span:nth-of-type(1) {
  -moz-transform: translateY(6px) rotate(45deg);
  -ms-transform: translateY(6px) rotate(45deg);
  -webkit-transform: translateY(6px) rotate(45deg);
  transform: translateY(6px) rotate(45deg);
}
input#do-m-menustate-checkbox:checked+.do-m-menu-btn span:nth-of-type(2) {
  opacity: 0;
}
input#do-m-menustate-checkbox:checked+.do-m-menu-btn span:nth-of-type(3) {
  -moz-transform: translateY(-6px) rotate(-45deg);
  -ms-transform: translateY(-6px) rotate(-45deg);
  -webkit-transform: translateY(-6px) rotate(-45deg);
  transform: translateY(-6px) rotate(-45deg);
}

input#do-m-menustate-checkbox2:checked+.do-nav-m-bar {
  top: 50px!important;
  visibility: visible;
  -webkit-transition-delay: 0s;
  transition-delay: 0s;
  z-index: 20;
  position: fixed;
}



input#do-m-menustate-checkbox2:checked+.do-nav-m-bar .do-nav-m-ul li:nth-child(1) {
  -webkit-transition-delay: 300ms,300ms;
  transition-delay: 300ms,300ms;
}

input#do-m-menustate-checkbox2:checked+.do-nav-m-bar .do-nav-m-ul li:nth-child(2) {
  -webkit-transition-delay: 350ms,350ms;
  transition-delay: 350ms,350ms;
}


input#do-m-menustate-checkbox2:checked+.do-nav-m-bar .do-nav-m-ul li:nth-child(3) {
  -webkit-transition-delay: 350ms,350ms;
  transition-delay: 350ms,350ms;
}

input#do-m-menustate-checkbox2:checked+.do-nav-m-bar .do-nav-m-ul li:nth-child(4) {
  -webkit-transition-delay: 400ms,400ms;
  transition-delay: 400ms,400ms;
}

input#do-m-menustate-checkbox2:checked+.do-nav-m-bar .do-nav-m-ul li:nth-child(5) {
  -webkit-transition-delay: 450ms,450ms;
  transition-delay: 450ms,450ms;
}


input#do-m-menustate-checkbox2:checked+.do-nav-m-bar .do-nav-m-ul li:nth-child(6) {
  -webkit-transition-delay: 500ms,500ms;
  transition-delay: 500ms,500ms;
}


input#do-m-menustate-checkbox2:checked+.do-nav-m-bar .do-nav-m-ul li{
  opacity: 1;
  pointer-events: auto;
  -webkit-transform: none;
  -ms-transform: none;
  transform: none;
}

@media only screen and (min-width: 800px){
  .do-nav-m-bar {
    display: none;
  }
}



@media only screen and (max-width: 800px){
  .nav {
    display: none;}
  .do-nav-phone .do-nav-m, .do-nav-phone .do-site-name, .do-nav-phone .do-nav-btn, .do-nav-phone .do-nav-mwp {
    min-height: 46px;
  }
  [do-phoneNav-btnAlign='do-navBtn-right'] .do-m-menustate {
    left: auto;
    right: 0;
  }
  .do-nav-btn, .do-subNav-btn {
    width: auto;
    padding: 0 14px;
  }
  .do-m-menustate {
    padding: 0px!important;
    position: absolute;
    right: 0;
    top: 0;
    width: 46px;
    height: 46px;
    display: table;
    vertical-align: middle;
    cursor: pointer;
    z-index: 999;
    -webkit-transition: opacity 0.2s cubic-bezier(0.645, 0.045, 0.355, 1),-webkit-transform 0.4s cubic-bezier(0.4, 0.01, 0.165, 0.99);
    transition: opacity 0.2s cubic-bezier(0.645, 0.045, 0.355, 1),transform 0.4s cubic-bezier(0.4, 0.01, 0.165, 0.99);
    -webkit-tap-highlight-color: transparent;
  }
  input.do-m-menustate, .do-m-menustate, .icon-isSub {
    display: none;
  }
  *, *:before, *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }

  div {
    display: block;
  }
  .do-nav-phone .do-nav-m, .do-nav-phone .do-nav-m-title {
    line-height: 0!important;
  }
  .do-nav-phone .do-nav-m, .do-nav-phone .do-nav-m-title {
    line-height: 0!important;
  }
  .do-nav-m {
    display: block;
    position: relative;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-shadow: rgba(0,0,0,.2) 0px 2px 5px;
    -moz-box-shadow: rgba(0,0,0,.2) 0px 2px 5px;
    box-shadow: rgba(0,0,0,.2) 0px 2px 5px;
  }


  .do-m-menu-btn {
    height: 50px;
    display: table-cell;
    vertical-align: middle;
    -moz-transition: 0.3s;
    -o-transition: 0.3s;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    cursor: pointer;
  }
  label {
    font-weight: 400;
    margin-bottom: 10px;
    color: #888;
    display: inline-block;
  }
  label {
    color: #888;
  }
  label {
    display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
    font-weight: 700;
  }
  *, *:before, *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }

  label {
    cursor: default;
  }
  .do-m-menustate {
    position: absolute;
    right: 0;
    top: 0;
    width: 46px;
    height: 46px;
    display: table;
    vertical-align: middle;
    cursor: pointer;
    -webkit-transition: opacity 0.2s cubic-bezier(0.645, 0.045, 0.355, 1),-webkit-transform 0.4s cubic-bezier(0.4, 0.01, 0.165, 0.99);
    transition: opacity 0.2s cubic-bezier(0.645, 0.045, 0.355, 1),transform 0.4s cubic-bezier(0.4, 0.01, 0.165, 0.99);
    -webkit-tap-highlight-color: transparent;
  }
  .do-nav-phone .do-nav-m, .do-nav-phone .do-nav-m-title {
    line-height: 0!important;
  }
  .do-nav-phone .do-nav-m, .do-nav-phone .do-nav-m-title {
    line-height: 0!important;
  }
  .do-nav-m {
    display: block;
    position: relative;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-shadow: rgba(0,0,0,.2) 0px 2px 5px;
    -moz-box-shadow: rgba(0,0,0,.2) 0px 2px 5px;
    box-shadow: rgba(0,0,0,.2) 0px 2px 5px;
  }


  .do-m-menu-btn span {
    height: 1px;
    width: 22px;
    display: block;
    margin: 5px auto;
    position: relative;
    background-color: #fff;
    -moz-transition: 0.4s;
    -o-transition: 0.4s;
    -webkit-transition: 0.4s;
    transition: 0.4s;
  }

  .do-m-menu-btn {
    height: 50px;
    display: table-cell;
    vertical-align: middle;
    -moz-transition: 0.3s;
    -o-transition: 0.3s;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    cursor: pointer;
  }
  label {
    font-weight: 400;
    margin-bottom: 10px;
    color: #888;
    display: inline-block;
  }
  label {
    color: #888;
  }
  label {
    display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
    font-weight: 700;
  }

  label {
    cursor: default;
  }
  .do-m-menustate {
    position: absolute;
    right: 0;
    top: 0;
    width: 46px;
    height: 46px;
    display: table;
    vertical-align: middle;
    cursor: pointer;
    -webkit-transition: opacity 0.2s cubic-bezier(0.645, 0.045, 0.355, 1),-webkit-transform 0.4s cubic-bezier(0.4, 0.01, 0.165, 0.99);
    transition: opacity 0.2s cubic-bezier(0.645, 0.045, 0.355, 1),transform 0.4s cubic-bezier(0.4, 0.01, 0.165, 0.99);
    -webkit-tap-highlight-color: transparent;
  }
  .do-nav-phone .do-nav-m, .do-nav-phone .do-nav-m-title {
    line-height: 0!important;
  }
  .do-nav-phone .do-nav-m, .do-nav-phone .do-nav-m-title {
    line-height: 0!important;
  }
  .do-nav-m {
    display: block;
    position: relative;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-shadow: rgba(0,0,0,.2) 0px 2px 5px;
    -moz-box-shadow: rgba(0,0,0,.2) 0px 2px 5px;
    box-shadow: rgba(0,0,0,.2) 0px 2px 5px;
  }

  .do-nav-m-bar {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    margin: 0;
    padding: 0 48px;
    height: auto;
    box-sizing: border-box;
    overflow: hidden;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    visibility: hidden;
    top: -100vh!important;
    width: 100%;
    height: 100vh;
    border-width: 0;
    background-color: rgb(255, 255, 255)!important;
    padding-top: 20px;
    z-index: 0;
    top:-100vh;
  }

  .do-nav-m-ul {
    padding: 0;
  }

  .do-nav-m-ul > li{
    opacity: 0;
    -webkit-transform: scale(1.1) translateY(-24px);
    -ms-transform: scale(1.1) translateY(-24px);
    transform: scale(1.1) translateY(-24px);
    -webkit-transition: opacity 0.35s ease-out, -webkit-transform 0.35s ease-out;
    transition: opacity 0.35s ease-out, transform 0.35s ease-out;
  }

  .do-nav-m-ul > li{
    position: relative;
    display: block;
  }

  .do-nav-m-bar ul li a {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    position: relative;
    z-index: 2;
    padding: 8px 12px;

  }
  .do-nav-m-ul > li > a, .do-nav-m-ul > li > ul {
    border-bottom-color: rgb(51, 51, 51);
  }
  .do-nav-m-ul li a {
    font-size: 14px;
  }
  .do-site-name *, .do-nav-m-ul li a, .do-nav-m-ul .icon-isSub:before {
    color: rgb(85, 85, 85);
  }
  .do-nav-m-ul > li > a {
    border-bottom: 1px solid #333;
    height: 47px;
    display: block;
    line-height: 34px;
  }




}


